<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: rgb(131, 58, 180);
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
        }
        h1 {
            color: rgb(236, 22, 22);
            text-align: center;
        }
        .sobre {
            width: 50%;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
        }
        p {
            text-align: center;
        }
        a{
            text-decoration: none;
            color: #fff;
            background: #000;
            padding: 10px;
            border-radius: 5px;
        }

    </style>
</head>

<body>
    <div class="sobre">
        <h1>Sobre</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quo facilis soluta ut inventore, voluptatum fugit consequatur impedit, fugiat obcaecati quasi ipsa adipisci molestiae aspernatur atque distinctio. Voluptatum, sequi velit!
        </p>
    </div>
        
    <p>
        <a href="/">Voltar</a>
    </p>
</body>

</html>